<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Ti.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>1F2AD7061DFC994E00DADF62</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1F2AD71A1DFC994E00DADF62</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1F2AD7251DFC994E00DADF62</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
